## Directory-based project format:
.idea/
*.iml
# if you remove the above rule, at least ignore the following:

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

### Java template
*.class

# Package Files #
!.mvn/wrapper/maven-wrapper.jar
*.jar
*.war
*.ear


# Maven
target/


#developer's playground
dummy/